<h5>Results: <%= @count %></h5>

<% if @products.empty? %>
    <p>Sorry, we could not find any products under that search.</p>
<% else %>
    <ul>
        <% @products.each do |product| %>
            <li><%= link_to product.title, product%></li>
        <% end %>
    </ul>
<% end %>
<%= paginate @products %>